#!/usr/sbin/nft -f

{% if ipv4 is vyos_defined %}
{%     for setname in ipv4 %}
flush set ip vyos_filter {{ setname }}
{%     endfor %}

table ip vyos_filter {
    include "/run/nftables-geoip-include4.conf"
}
{% endif %}

{% if ipv6 is vyos_defined %}
{%     for setname in ipv6 %}
flush set ip6 vyos_filter {{ setname }}
{%     endfor %}

table ip6 vyos_filter {
    include "/run/nftables-geoip-include6.conf"
}
{% endif %}
